
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(240, 238, 130)">
     <h1 style="text-align:center;border: 30px;background-color: pink;color:blue">INVALID EMAILS 
    </h1>
    <p align="right"><button type="button" class="btn btn-primary"  style="background-color:pink;height:45px;color: black;text-align: right;"><a href="/"style=color:black>Home</a></button>
    </p>  
    <div style="margin: 10px">
    {% for item in clist %}
    <h3 style="color:black;">{{item}}</h3> 
    {% endfor %}
</div>
</body>
</html>